<% a = current_user.can_administrate?(@course) ? @course.assignments : @course.assignments.started %>

<h3>Assignments</h3>
<br />
<% if a.empty? %>
  <p>There are currently no assignments for this course.</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th width="20%">Start</th>
        <th width="20%">Deadline</th>
      </tr>
    </thead>
    <tbody>
      <% a.each do |a| %>
        <tr>
          <th scope="row"><%= link_to a.title, a %></th>
          <td>
            <%= pretty_datetime a.start %>
          </td>
          <td class="<%= a.decorator_class %>">
            <%= pretty_datetime a.deadline %>
          </td>
          <% if current_user.can_administrate(a.course) %>
            <td>
              <%= link_to(delete_assignment_path(id: a.id), onclick: 'return confirmDeletion()') do %>
                <button type="button" class="btn btn-xs btn-danger pull-right"><%= icon 'times' %> Delete</button>
              <% end %>
            </td>
            <script>
              function confirmDeletion() {
                return confirm("This action will delete the assignment and all its submissions. Are you sure?");
              }
            </script>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
