<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" href="#teacher-name-table<%= course.id %>">
        <%= icon 'ellipsis-v' %>&nbsp;
        <%= icon 'user' %> <%= course.teachers.first.name %>
      </a>
    </h5>
  </div>
  <div id="teacher-name-table<%= course.id %>" class="panel-body collapse">
    <p>
      <%= course.teachers.map {|t| t.name}.join(', ') %>.
    </p>
  </div>
</div>
