<% if current_user.enrolled_in?(@course.id) %>
  <div class="course-controls">
    <ul>
        <% if user_can_administrate @course %>
        <li>
          <%= link_to(new_assignment_path(cid: @course.id)) do %>
          <%= icon 'plus-circle' %> Create Assignment
          <% end %>
        </li>
        <li>
          <%= link_to(enrolment_list_path, id: @course.id) do %>
            <%= icon 'list' %> Enrolment List
            <span class="label label-default"><%= @course.students.size %></span>
          <% end %>
        </li>
        <% end %>
        <% if !current_user.eql? @course.teacher %>
          <li>
            <%= link_to(unenrol_path, id: @course.id) do %>
              <%= icon 'sign-out' %> Unenrol
            <% end %>
          </li>
        <% end %>
    </ul>
  </div>
<% end %>
