<%= render 'header' %>
<p>
  <%= markdown(@course.description) %>
</p>
<% if current_user.enrolled_in?(@course.id) %>
  <hr />
  <%= render 'assignments' %>
<% end %>
<%= render 'enrolment' %>
<%= render partial: 'audit_item/panel', locals: { items: @course.audit_items } %>
