<div class="form-group">
  <%= f.label :title, class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.text_area :description, class: 'form-control', size: '60x6' %>
    <p>Markdown is supported.</p>
  </div>
</div>

<div class="form-group">
  <%= f.label :start, class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.datetime_field :start, class: 'form-control', id: 'startfield', value: @assignment.start.strftime('%d %b %Y %H:%M'), 'data-date-format':'dd M yyyy hh:ii' %>
    <p>All times are <strong>UTC</strong>.</p>
  </div>
</div>

<div class="form-group">
  <%= f.label :deadline, class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.datetime_field :deadline, class: 'form-control', id: 'deadlinefield', value: @assignment.deadline.strftime('%d %b %Y %H:%M'), 'data-date-format':'dd M yyyy hh:ii' %>
    <p>All times are <strong>UTC</strong>.</p>
  </div>
</div>

<div class="form-group">
  <%= f.label :max_attempts, 'Maximum attempts', class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.number_field :max_attempts, min: 0, step: 1, class: 'form-control' %>
    <p>Use <code>0</code> for no limit.</p>
  </div>
</div>

<hr/>

<div class="form-group">
  <%= f.label 'Options', class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :allow_late %>
        Allow late submissions
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= f.check_box :feedback_only %>
        Provide feedback only
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Unique Assignment Options', class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :is_unique %>
        Is the assignment unique?
      </label>
    </div>
	<div class="parameterstring">
		<%= f.label :parameter_string, 'Parameters and their desired Types', class: 'col-lg-2 control-label' %>
	    <%= f.text_field :parameter_string, class: 'form-control', value: @assignment.parameter_string %>
	</div>
	<div class="descriptionstring">
		<%= f.label :description_string, 'Description of the assignment in template syntax', class: 'col-lg-2 control-label' %>
		<%= f.text_field :description_string, class: 'form-control', value: @assignment.description_string %>
	</div>
  </div>
</div>

<div class="form-group">
  <%= f.label :late_cap, 'Late grade cap (%)', class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.number_field :late_cap, in: 0..100, step: 1, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label 'Deadline (Late Submissions)', class: 'col-lg-2 control-label' %>
  <div class="col-lg-10">
    <%= f.datetime_field :latedeadline, class: 'form-control', id: 'latedeadlinefield', value: @assignment.latedeadline.strftime('%d %b %Y %H:%M'), 'data-date-format':'dd M yyyy hh:ii' %>
    <p>All times are <strong>UTC</strong>.</p>
  </div>
</div>

<hr />
<h4>Submission Methods</h4>
<div class="form-group">
  <div class="col-lg-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :allow_zip %>
        Allow ZIP uploads
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :allow_git %>
        Allow git repository URL + commit SHA submissions
      </label>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-lg-10">
    <div class="checkbox">
      <label>
        <%= f.check_box :allow_ide %>
        Allow in-browser IDE submissions
      </label>
    </div>
  </div>
</div>
