<div class="row">
  <div class="col-md-8">
    <h5 class="course-title"><%= icon 'book' %> <%= link_to @assignment.course.title, @assignment.course %></h5>
    <h2><%= @assignment.title %></h2>
    <h6>Assignment ID: <code><%= @assignment.id %></code></h6>
    <hr />
    <div class="assignment-dates">
      <% if @assignment.started? %>
        <h6>Started: <%= strftime_uk @assignment.start %></h6>
        <h5>Deadline: <%= strftime_uk @assignment.deadline %>
        <span class="label label-warning"><%= distance_from_now_string @assignment.deadline %></span></h5>
      <% else %>
        <h5>Starts: <%= strftime_uk @assignment.start %>
        <span class="label label-info"><%= distance_from_now_string @assignment.start %></span></h5>
        <h6>Deadline: <%= strftime_uk @assignment.deadline %> </h6>
      <% end %>
      <% if @assignment.allow_late? %>
        <h5>Late submissions are allowed, but will be capped at <span class="text-danger"><%= @assignment.late_cap %>%</span></h5>
      <% else %>
      <h5>Late submissions are <span class="text-danger">not</span> allowed</h5>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Controls go here -->
  </div>
</div>
<hr />
