<div class="row">
  <div class="col-md-8">
    <h5 class="course-title"><%= icon 'book' %> <%= link_to @assignment.course.title, @assignment.course %></h5>
    <h2><%= @assignment.title %></h2>
    <h6>Assignment ID: <code><%= @assignment.id %></code></h6>
    <h6>ZIP Submissions <%= boolean_icon @assignment.allow_zip %></h6>
    <h6>Git Submissions <%= boolean_icon @assignment.allow_git %></h6>
    <h6>IDE Submissions <%= boolean_icon @assignment.allow_ide %></h6>

    <hr />
    <div class="assignment-dates">
      <% if @assignment.started? %>
        <h5>Started: <%= strftime_uk @assignment.start %></h5>
        <h5>Deadline: <%= strftime_uk @assignment.deadline %>
        <span class="label label-warning"><%= distance_from_now_string @assignment.deadline %></span></h5>
      <% else %>
        <h5>Starts: <%= strftime_uk @assignment.start %>
        <span class="label label-info"><%= distance_from_now_string @assignment.start %></span></h5>
        <h5>Deadline: <%= strftime_uk @assignment.deadline %> </h5>
      <% end %>
      <% if @assignment.allow_late? %>
        <h5>Late submissions <span class="text-success">are</span> allowed, but will be capped at <span class="text-danger"><%= @assignment.late_cap %>%</span></h5>
      <% else %>
      <h5>Late submissions are <span class="text-danger">not</span> allowed</h5>
      <% end %>
      <h5>Maximum attempts: <%= @assignment.max_attempts %></h5>
    </div>
  </div>
  <div class="col-md-4">
    <%= render 'controls' %>
  </div>
</div>
<hr />
