<div class="well">
  <h2>Edit Assignment</h2>
  <h4 class="course-title"><%= icon 'book' %> <%= link_to @assignment.course.title, @assignment.course %></h4>
  <hr />
  <%= form_for(@assignment, url: update_assignment_path, html: { class: 'form-horizontal' }) do |f| %>

    <div class="form-group">
      <%= f.label :title, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_area :description, class: 'form-control', size: '60x6' %>
        <p>Markdown is supported.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :start, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.datetime_field :start, class: 'form-control', id: 'startfield', value: @assignment.start.strftime('%d %b %Y %H:%M'), 'data-date-format':'dd M yyyy hh:ii' %>
        <p>All times are <strong>UTC</strong>.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :deadline, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.datetime_field :deadline, class: 'form-control', id: 'deadlinefield', value: @assignment.deadline.strftime('%d %b %Y %H:%M'), 'data-date-format':'dd M yyyy hh:ii' %>
        <p>All times are <strong>UTC</strong>.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Options', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_late %>
            Allow late submissions
          </label>
        </div>
        <div class="checkbox">
          <label>
            <%= f.check_box :feedback_only %>
            Provide feedback only
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Deadline (Late Submissions)', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.datetime_field :latedeadline, class: 'form-control', id: 'latedeadlinefield', value: @assignment.latedeadline, 'data-date-format':'dd M yyyy hh:ii' %>
        <p>All times are <strong>UTC</strong>.</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :late_cap, 'Late grade cap (%)', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.number_field :late_cap, in: 0..100, step: 1, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :max_attempts, 'Maximum attempts', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.number_field :max_attempts, min: 0, step: 1, class: 'form-control' %>
        <p>Use <code>0</code> for no limit.</p>
      </div>
    </div>

    <hr />
    <h4>Submission Methods</h4>
    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_zip %>
            Allow ZIP uploads
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_git %>
            Allow git repository URL + commit SHA submissions
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
        <div class="checkbox">
          <label>
            <%= f.check_box :allow_ide %>
            Allow in-browser IDE submissions
          </label>
        </div>
      </div>
    </div>

    <hr>
    <br />

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
