<div class="well">
  <h2>Create Assignment</h2>
  <h4 class="course-title"><%= icon 'book' %> <%= link_to @assignment.course.title, @assignment.course %></h4>
  <hr />
  <%= form_for(@assignment, url: create_assignment_path, html: { class: 'form-horizontal' }) do |f| %>

    <%= f.hidden_field :course_id, value: @assignment.course.id %>

    <%= render 'form_metadata', f: f %>

    <hr />
    <h4>Marking Tools</h4>
    <p>
      Tools can be given a weighting of <strong>0%</strong> to be used for feedback only; not contributing to the final mark.
    </p>
    <br />

    <div class="marking-tools">
      <%= f.fields_for :marking_tool_contexts do |ff| %>
        <%= render 'marking_tool_context_fields', f: ff %>

        <div class="add-tool-link">
          <%= link_to_add_association f, :marking_tool_contexts, partial: 'marking_tool_context_fields' do |link| %>
            <%= icon 'plus-circle' %> Add Tool
          <% end %>
        </div>
      <% end %>
    </div>

    <hr>
    <br />

    <script>
      function checkMarkingTools() {
        if (document.getElementById("assignment_marking_tool_contexts_attributes_0_marking_tool_id").selectedIndex != 0) {
          return true;
        } else {
          return confirm("Are you sure you want to create an assignment without marking tools?");
        }
      }
    </script>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Create', class: 'btn btn-primary', onclick: "return checkMarkingTools()" %>
      </div>
    </div>
  <% end %>
</div>
