<%= render 'header' %>
<p>
  <%= markdown(@assignment.description) %>
  <hr />
  <% unless @assignment.feedback_only %>
    <h4>Marking Scheme</h4>
  <% end %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Rubric</th>
        <th>Context</th>
        <% unless @assignment.feedback_only %>
        <th>Weight</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @assignment.marking_tool_contexts.each do |t| %>
        <tr>
          <th scope="row"><%= t.marking_tool.name %></th>
          <td><%= t.context %></td>
          <% unless @assignment.feedback_only %>
          <td><%= t.weight %>%</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<% if @assignment.started? %>
  <hr />
  <h4>Your submissions</h4>
  <%= render 'submissions_table' %>
<% end %>
<%= render partial: 'audit_item/panel', locals: { items: @assignment.audit_items } %>
