<div class="well">
  <h2>Upload Submission for <%= @submission.assignment.title %></h2>
  <hr />

  <p>By submitting code through any of the submission methods below, you are
    making a submission to the college, and declare that this submission is your
    own work. Submissions are subject to plagiarism checks and any suspected
    cases of plagiarism and collusion will be dealt with according to the
    university's misconduct procedure. Upheld charges can result in a range of
    penalties from an award of zero marks for the work, to expulsion from the
    college.</p>

  <h4>Select a submission method:</h4>
  <!-- Nav tabs -->
  <ul class="nav nav-justified nav-pills" role="tablist">
    <% if @submission.assignment.allow_zip %>
      <li role="presentation"><a href="#zip" aria-controls="zip" role="tab" data-toggle="tab"><%= icon 'file-archive-o' %> ZIP</a></li>
    <% end %>
    <% if @submission.assignment.allow_git %>
      <li role="presentation"><a href="#git" aria-controls="git" role="tab" data-toggle="tab"><%= icon 'git' %> Git</a></li>
    <% end %>
    <% if @submission.assignment.allow_ide %>
      <li role="presentation"><a href="#ide" aria-controls="ide" role="tab" data-toggle="tab"><%= icon 'code' %> Web IDE</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% if @submission.assignment.allow_zip %>
      <div role="tabpanel" class="tab-pane sub-pane" id="zip"><hr><%= render 'zip' %></div>
    <% end %>
    <% if @submission.assignment.allow_git %>
      <div role="tabpanel" class="tab-pane sub-pane" id="git"><hr><%= render 'git' %></div>
    <% end %>
    <% if @submission.assignment.allow_ide %>
      <div role="tabpanel" class="tab-pane sub-pane" id="ide"><hr><%= render 'ide' %></div>
    <% end %>
  </div>
</div>
