<div class="devise-form well">
  <h2>Login</h2>
  <hr />

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.email_field :email, class: "form-control", placeholder: "Email", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
        </div>
      </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.label 'Options', class: 'col-lg-2 control-label' %>
        <div class="col-lg-10">
          <div class="checkbox">
            <label>
              <%= f.check_box :remember_me %>
              Remember Me
            </label>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Login", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr />
  <%= link_to 'Create an account', new_user_registration_path %>

</div>
