<% if @submissions.empty? %>
  <p>No failed submissions to display.</p>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Submitted</th>
        <th width="20%">Assignment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |s| %>
        <tr>
          <th>
            <%= link_to s do %>
            <%= pretty_datetime s.submitted %>
            <% end %>
          </th>
          <td>
            <%= link_to s.assignment do %>
              <%= s.assignment.title %>
            <% end %>
          </td>
          <td>
            <%= link_to resend_submission_path(id: s.id) do %>
              <button type="button" name="button" class="btn btn-xs btn-primary">Reprocess</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
