<div class="well">
  <h2>Upload Submission for <%= @submission.assignment.title %></h2>
  <hr />

  <p>By submitting code through any of the submission methods below, you are
    making a submission to the college, and declare that this submission is your
    own work. Submissions are subject to plagiarism checks and any suspected
    cases of plagiarism and collusion will be dealt with according to the
    university's misconduct procedure. Upheld charges can result in a range of
    penalties from an award of zero marks for the work, to expulsion from the
    college.</p>

  <h4>Select a submission method:</h4>
  <!-- Nav tabs -->
  <% had_active_tab = false %>
  <ul class="nav nav-justified nav-pills" role="tablist">
    <% if @submission.assignment.allow_zip %>
      <li role="presentation" <% unless (had_active_tab) %>class="active"<% had_active_tab = true end %>><a href="#zip" aria-controls="zip" role="tab" data-toggle="tab"><%= icon 'file-archive-o' %> ZIP</a></li>
    <% end %>
    <% if @submission.assignment.allow_git %>
      <% if @ghe_repo_list %>
        <li role="presentation" <% unless (had_active_tab) %>class="active"<% had_active_tab = true end %>><a href="#ghe" aria-controls="git" role="tab" data-toggle="tab"><%= icon 'git-square' %> GitHub Enterprise</a></li>
      <% end %>
      <% if @github_com_repo_list %>
        <li role="presentation" <% unless (had_active_tab) %>class="active"<% had_active_tab = true end %>><a href="#github" aria-controls="git" role="tab" data-toggle="tab"><%= icon 'github' %> GitHub.com</a></li>
      <% end %>
    <% end %>
    <% if @submission.assignment.allow_ide %>
      <li role="presentation" <% unless (had_active_tab) %>class="active"<% had_active_tab = true end %>><a href="#ide" aria-controls="ide" role="tab" data-toggle="tab"><%= icon 'code' %> Web IDE</a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <% had_active_tab = false %>
  <div class="tab-content">
    <% if @submission.assignment.allow_zip %>
      <div role="tabpanel" class="tab-pane sub-pane <% unless (had_active_tab) %>active<% had_active_tab = true end %>" id="zip"><hr><%= render 'zip' %></div>
    <% end %>
    <% if @submission.assignment.allow_git %>
      <% if @ghe_repo_list %>
        <div role="tabpanel" class="tab-pane sub-pane <% unless (had_active_tab) %>active<% had_active_tab = true end %>" id="ghe"><hr><%= render partial: 'git', locals: { repos: @ghe_repo_list } %></div>
      <% end %>
      <% if @github_com_repo_list %>
        <div role="tabpanel" class="tab-pane sub-pane <% unless (had_active_tab) %>active<% had_active_tab = true end %>" id="github"><hr><%= render partial: 'git', locals: { repos: @github_com_repo_list } %></div>
      <% end %>
    <% end %>
    <% if @submission.assignment.allow_ide %>
      <div role="tabpanel" class="tab-pane sub-pane <% unless (had_active_tab) %>active<% had_active_tab = true end %>" id="ide"><hr><%= render 'ide' %></div>
    <% end %>
  </div>
</div>
