<% if current_user.can_administrate?(@assignment.course) %>
  <div class="course-controls">
    <% if @assignment.configurable_tools? %>
      <%= link_to assignment_configure_tools_path(id: @assignment.id) do %>
        <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'cog' %> Configure Tools</button>
      <% end %>
    <% end %>

    <%= link_to(edit_assignment_path(id: @assignment.id)) do %>
      <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'edit' %> Edit Assignment</button>
    <% end %>
    <%= link_to(edit_assignment_from_git_path(id: @assignment.id)) do %>
      <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'github' %> Pull latest Assignment from Git</button>
    <% end %>

    <%= link_to(assignment_export_submissions_data_path(id: @assignment.id, format: :csv)) do %>
      <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'cloud-download' %> Export Submissions Data</button>
    <% end %>
    <%= link_to(assignment_list_submissions_path(id: @assignment.id)) do %>
      <button type="button" name="button" class="btn btn-sm btn-primary"><%= icon 'table' %> View All Submissions</button>
    <% end %>

    <%= link_to(assignment_deadline_extensions_path id: @assignment.id) do %>
      <button type="button" name="button" class="btn btn-sm btn-primary">
        <%= icon 'clock-o' %> Manage Deadline Extensions
        <% unless @assignment.deadline_extensions.empty? %>
          <span class="label label-warning"><%= @assignment.deadline_extensions.count %></span>
        <% end %>
      </button>
    <% end %>
  </div>
<% end %>
