<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="well">
  <h2>Edit Assignment</h2>
  <h4 class="course-title"><%= icon 'book' %> <%= link_to @assignment.course.title, @assignment.course %></h4>
  <hr />
  <%= form_for(@assignment, url: update_assignment_path, html: { class: 'form-horizontal' }) do |f| %>

    <%= render 'form_metadata', f: f %>

    <hr>
    <br />

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
