<div class="page-header">
  <h2><%= icon 'wrench' %> Admin Panel</h2>
</div>

<%= render 'users' %>
<hr>
<%= render 'marking_tools' %>
<hr>
<%= render 'access_tokens' %>
<hr>
<%= render 'failed_submissions' %>
