<div class="well">
  <h2><%= locals[:method] %> Marking Tool</h2>
  <hr />
  <%= form_for(@marking_tool, url: locals[:url], html: { class: 'form-horizontal' }) do |f| %>

    <div class="form-group">
      <%= f.label :name, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :uid, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :uid, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Webhook URL', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :url, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Input', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :input, class: 'form-control', placeholder: 'e.g. java, cpp, class' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Output', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :output, class: 'form-control', placeholder: 'e.g. java, cpp, class' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Access Token', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :access_token, class: 'form-control' %>
        <span>If this is left blank, intermediate ouput will not be sent to this tool</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :requires_config, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.check_box :requires_config, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label 'Config page URL', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= f.text_field :config_url, class: 'form-control' %>
        <span>Use the token <code>%{aid}</code> for Assignment ID.</span>
        <br />
        <span>Example: <code>http://example.com:3000/config?assignment=%{aid}</code></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
